# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.pyc
